/* General Stytling ____________________________________________________ */
html {
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}
h1 {
  font-size: 4rem;
  transition: all 0.5s ease;
}
h2 {
  font-size: 2rem;
  transition: all 0.5s ease;
}
h3 {
  font-size: 1.75rem;
  transition: all 0.5s ease;
}
h4 {
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
h5 {
  font-size: 1.2rem;
  transition: all 0.5s ease;
}
body {
 background: #000000;
 /* overflow-x: hidden !important; */
 overflow: overlay;
}
#background {
  position: fixed;
  top: -185%;
  left: 0;
  height: 2700px;
  z-index: -1;
}
#bgLay {
  opacity: 0;
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 1s ease;
  z-index: 0;
}
a:link {text-decoration: none; color: #ffffff;}
a:visited {text-decoration: none; color: #ffffff;}
a:hover {text-decoration: none;}
a:active {text-decoration: none; color: #ffffff}
section {
  height: 100vh;
  padding: 0 12.5vw;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  z-index: 1;
}


/* Hero Styling ________________________________________________________ */
#home-section {
  position: relative;
  color: #ffffff;
}
#home-section h1, #home-section h3, #home-section h4 {
  margin: 2rem 0;
}
#home-section h4{
  width: 650px;
}
#underLinks {
  margin-top: 3rem;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  width: 500px;
  color: black;
  transition: all 0.3s ease;
}
#underLinks a {
  color: black;
  transition: all 0.3s ease;
}
#underLinks a:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
#intro {
  overflow: hidden;
  position: absolute;
  left: 18%;
  bottom: 15%;
  height: 350px;
  max-width: 720px;
  color: black;
  background: white;
  padding: 0 75px;
  border-radius: 100px;
  transition: all 0.3s ease;
}
#intro.active {
  height: 425px;
  transition: all 0.3s ease;
}
#intro.active #underLinks {
  opacity: 1;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.resume {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  background: black;
  border: 2px solid black;
  color: white !important;
  height: 40px;
  width: 150px;
  transition: all 0.3s ease;
}
.resume:hover {
  transform: scale(1.025) !important;
  transition: all 0.3s ease;
}
.CTA {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  display: inline-block;
  cursor: pointer;
  color: white;
  bottom: 15%;
  right: 18%;
  width: 300px;
  height: 350px;
  border: 4px solid white;
  backdrop-filter: blur(10px);
  border-radius: 100px;
  transition: all 0.3s ease;
  padding-top: 2rem;
  line-height: 3rem;
  overflow: hidden;
}
.CTA h2 {
  margin: 0 6rem;
}
#dArrow {
  opacity: 0;
  transition: all 0.3s ease;
}
.CTA.active #dArrow {
  opacity: 1;
}
#viewResume {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#music {
  position: absolute;
  top: 10%;
  left: calc(50% - 50px);
  height: 100px;
  border-radius: 50px;
  color: white;
  background: black;
  width: 100px;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px 1px white;
  z-index: 25;
}
#music.active {
  left: calc(50% - 200px);
  width: 400px;
  transition: all 0.3s ease;
}
#music.travel {
  position: fixed;
  top: 82.5%;
  left: 3.5% !important;
}
#music.travel.active {
  left: 3.5% !important;
}
#music.travel.skl {
  top: 10%;
}
#music.dis {
  opacity: 0 !important;
  transition: all 1s ease;
}
#music.playing {
  animation: glowing 3s infinite;
}
/* #music.hide {
  opacity: 0;
  pointer-events: none;
  transition: all 0s ;
} */
#music div {
  display: flex;
}
@keyframes glowing {
  0% {box-shadow: 0 0 8px 2px white;}
  50% {box-shadow: 0 0 15px 6px white;}
  100% {box-shadow: 0 0 8px 2px white;}
}
#mIcon {
  margin: 2rem 0 0 2rem;
}
audio {
  opacity: 0;
  width: 300px;
  filter: invert(1);
  margin: 1.5rem;
  transition: all 0.3s ease;
}
#music.active audio {
  opacity: 1;
}
@media(max-height: 800px) {
  .CTA {
    bottom: 20% !important;
    height: 150px !important;
    border-radius: 50px !important;
    padding: 0;
    left: calc(50% - 400px) !important;
  }
  .CTA h2 {
    margin-top: 2.8rem !important;
  }
  .CTA.active h2 {
    margin-top: 0 !important;
  }
  #dArrow {
    margin-top: 12px !important;
  }
  #intro {
    bottom: 50% !important;
    height: 230px !important;
  }
  #intro.active {
    height: 300px !important;
  }
  #music {
    left: 65% !important;
    top: auto !important;
    bottom: 24% !important;
  }
  #music.active {
    left: calc(100% - calc(50% - 400px) - 330px) !important;
    width: 330px !important;
  }
  #underLinks {
    margin-top: 0.2rem !important;
    padding: 0 !important;
  }
}
@media(max-height: 600px) {
  #intro.active, #intro {
    height: 250px !important;
  }
  #intro {
    height: 200px !important;
  }
  #intro h1 {
    font-size: 2.5rem !important;
  }
  #intro h3, #intro h4 {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
  }
  #underLinks {
    height: 0 !important;
  }
  .resume:hover {
    transform: rotate(270deg) scale(1.02) !important;
  }
  .CTA {
    height: 130px !important;
  }
  .CTA h2 {
    margin-top: 2.2rem !important;
  }
  #music {
    bottom: 22% !important;
  }
}
@media(max-width: 1850px) {
  #home-section h1 {
    font-size: 3rem;
  }
}
@media(max-width: 1750px) {
  #home-section h1, #home-section h3, #home-section h4  {
    margin: 1rem 0;
  }
  #intro {
    left: calc(50% - 400px);
    bottom: 45%;
    text-align: center;
    height: 250px;
  }
  .CTA {
    bottom: 15%;
    right: calc(50% - 200px);
    width: 400px;
    height: 200px;
    border-radius: 75px;
  }
  #music {
    top: 5%;
  }
  #underLinks {
    margin: 1.5rem auto 0;
  }
  #intro.active {
    height: 325px;
    bottom: 41%;
  }
}
@media (max-width: 890px) and (max-height: 800px) {
  .CTA {
    left: calc(50% - 200px) !important;
  }
  #intro {
    width: 70vw !important;
    left: calc(50% - 35vw) !important;
    padding: 0 !important;
    height: 230px !important;
  }
  #intro h4 {
    width: auto !important;
    margin-right: 3rem;
    margin-left: 3rem;
  }
  #underLinks {
    width: 70% !important;
    padding: 0 !important;
    left: 7% !important;
    top: -65px !important;
    filter: invert(1) !important;
  }
  #intro.active {
    height: 230px !important;
  }
}
@media (max-width: 890px) and (max-height: 500px) {
  #underLinks {
    top:-4% !important;
    left: -50% !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 400px !important;
    filter: invert(1) !important;
  }
  #underLinks a {
    margin: auto !important;
  }
  .resume {
    transform: rotate(270deg);
  }
  #intro {
    bottom: 40% !important;
  }
}
@media (max-width: 890px) and (min-height: 501px) {
  #underLinks {
    filter: invert(0) !important;
  }
  #intro {
    bottom: 35% !important;
  }
}
@media (max-width: 890px) and (min-height: 801px) {
  #intro {
    height: 300px !important;
  }
}
@media(max-width: 890px) {
  #intro {
    overflow: visible !important;
    width: 300px;
    left: calc(50% - 225px);
  }
  #intro.active {
    height: 300px;
    bottom: 45%;
  }
  #intro.active #underLinks {
    padding: 0;
  }
  #underLinks {
    opacity: 1;
    top: -35%;
    position: absolute;
    left: 0;
    width: 375px;
    margin: 0 37.5px;
    filter: invert(1) !important;
  }
  #music {
    display: none;
    pointer-events: none;
  }
  #music.active {
    left: calc(50% - 50px);
    width: 100px;
  }
  #home-section h4{
    width: 300px;
  }
  #home-section h1 {
    font-size: 2rem !important;
  }
  #home-section h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  #home-section h4 {
    font-size: 1.2rem !important;
    font-weight: 500;
  }
  .CTA {
    bottom: 6% !important;
  }
}
@media(max-width: 630px) {
  #intro {
    width: 250px !important;
    height: 300px !important;
    left: calc(50% - 150px) !important;
    bottom: 30% !important;
    padding: 0 30px !important;
    border-radius: 75px !important;
  }
  #intro.active {
    bottom: 30% !important;
    height: 300px !important;
  }
  #home-section h4{
    width: 250px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #home-section h1 {
    font-size: 1.8rem !important;
  }
  .CTA {
    bottom: 12% !important;
    left: calc(50% - 150px) !important;
    width: 300px !important;
    height: 100px !important;
    border-radius: 75px !important;
    padding-top: 20px !important;
  }
  .CTA h2 {
    font-size: 1.5rem !important;
    margin: 0 !important;
  }
  #dArrow {
    visibility: hidden;
  }
  #underLinks {
    margin-top: 30px !important;
    width: 250px !important;
    left: -3% !important;
    filter: invert(1) !important;
    top: -30% !important;
  }
  .resume {
    font-size: 1rem !important;
    font-weight: 500 !important;
    height: 30px !important;
    width: 100px !important;
    padding-top: 10px !important;
  }
}

/* Navigation Styling __________________________________________________ */
#navBar {
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  height: 5rem;
  font-size: 1.8rem;
  transition: all 0;
  z-index: 100;
}
#navBar.active {
  top: 10.3%;
  bottom: auto;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
}
#navBar.active #navLinks h2 {
  color: black;
}
#navItems {
  position: relative;
  display: flex;
  height: 4rem;
  margin: 0.5rem 7.5vw 0 7.5vw;
}
#navItems.inactive {
  pointer-events: none;
}
#navLinks {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 775px;
  margin: auto 0;
  transition: all 0.5s ease;
}
#navLinks h2 {
  margin: 0;
}
#hm, #ab, #pj, #ct {
  color: white;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}
#hm {transition: all 1s ease 0.5s;}
#ab {transition: all 1s ease 0.8s;}
#pj {transition: all 1s ease 1.1s;}
#ct {transition: all 1s ease 1.4s;}
#navBar.active #hm, #navBar.active #ab, #navBar.active #pj, #navBar.active #ct {
  transition: 0s;
}
#hm.hidden, #ab.hidden, #pj.hidden, #ct.hidden {
  opacity: 0;
}

/* section name */
#sec {
  position: absolute;
  top: -26px;
  width: 100%;
  margin: 0.5rem 7.5vw 0 7.5vw;
  pointer-events: all;
}
.secName {
  top: 0;
  opacity: 0;
  position: absolute;
  margin-left: 9.6rem;
  transition: all 0.3s ease;
  width: fit-content;
}
.secName.active {
  opacity: 1;
  left: 0%;
  right: auto;
  margin-left: 0;
}
.secName.hide {
  opacity: 0;
  transition: all 0s ease;
}
.secName.transition {
  opacity: 1;
  transition: all 1s ease;
}
.secName h2 {
  margin: 0 0 0 2rem;
  transition: all 0.3s ease;
}
.secName h3 {
  font-weight: 600;
  opacity: 0.5;
  margin: 0;
}
#secTag1, #secTag {
  z-index: 50;
  color: white;
  padding-right: 8rem;
  transition: all 0.3s ease;
}
#secTag {
  margin-top: 3rem;
}
#allSecs {
  position: absolute;
  width: 300px;
  transition: all 0.3s ease;
}
#allSecs.about { top: 1%; }
#allSecs.contact { top: 1%; }
.secName:hover #secTag {
  margin-top: 12rem;
  transition: all 0.3s ease;
}
.secName:hover .pgs {
  opacity: 1;
  transition: all 0.3s ease;
}
.secName:hover #allSecs {
  top: 3.5rem;
  transition: all 0.3s ease;
}
#homePg, #aboutPg, #projectPg, #contactPg {
  min-width: 250px;
}
#hLink, #aLink, #pLink, #cLink {
  cursor: pointer;
  display: flex;
  color: white;
  transition: all 0.3s ease;
}
#hLink.active, #aLink.active, #pLink.active, #cLink.active {
  opacity: 1 !important;
}
.bracs {
  color: white;
  opacity: 1;
  transition: all 0.3s ease;
}
.hBrac.active, .aBrac.active, .pBrac.active, .cBrac.active {
  opacity: 0;
  margin-left: -2rem;
}
.secLink {
  display: flex;
}
#pHold {
  opacity: 0;
  margin: 0;
}
#bLeft, #bRight {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  margin: 0;
  font-weight: bold !important;
}
#bLeft {
  left: -10vw;
}
#bRight {
  left: 100vw;
}
#bLeft.active, #bRight.active {
  opacity: 1;
}
#bLeft.active, #bRight.active {
  top: calc(50% - 2.3rem);
}
.pgs {
  display: flex;
  margin-left: 2rem;
  opacity: 0;
  transition: all 0.3s ease;
}
.pgs.active {
  transition: all 0.3s ease;
  opacity: 1;
}
.pgs h3 {
  text-align: center;
  font-weight: 400;
}
/* About +++++++++++++++++++++ */
#sec.about .secName {
  top: 35vh;
}
#sec.about .secName:hover {
  top: 28vh;
  transition: all 0.3s ease;
}

/* Contact +++++++++++++++++++++ */
#sec.contact .secName {
  top: 35vh;
  left: auto;
  margin-right: 20.5vw;
  right: 0%;
}
#sec.contact #allSecs {
  top: -60%;
}
#sec.contact .secName:hover #allSecs {
  top: 3.5rem;
  transition: all 0.3s ease;
}
#sec.contact .secName:hover {
  top: 26.5vh;
}
#sec.contact #bLeft {
  visibility: hidden;
}

/* Projects ++++++++++++++++++ */
#sec.projects {
  top: -175%;
}
.secName.projects {
  left: calc(42.5vw - 500px);
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin: 0;
  width: 1000px;
}
.secName.projects #allSecs {
  top: 0%;
  left: 33%;
  transition: all 0.3s ease;
  padding-bottom: 2rem;
}
.secName.projects #secTag, .secName.projects #secTag1 {
  padding: 0;
  margin-top: 75px;
}
.secName.projects #allSecs div h3 {
  color: #ffffff;
}
.secName.projects h2 {
  visibility: hidden;
}
.secName.projects .hBrac.active,
.secName.projects .aBrac.active,
.secName.projects .pBrac.active,
.secName.projects .cBrac.active {
  opacity: 0;
  margin: 0;
}
.secName.projects .pgs div {
  text-align: center;
  margin: 0 auto;
}
#grad {
  pointer-events: none;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.9) 55%, rgba(0, 0, 0, 0));
  width: 110vw;
  right: calc(50% - 55vw);
  top: -3rem;
  height: 280px;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
.secName.projects:hover {
  top: 0px;
  transition: all 0.3s ease;
}
.secName.projects:hover #allSecs {
  top: 0%;
  margin-top: 4.7rem;
  transition: all 0.3s ease;
}
.secName.projects:hover #secTag, .secName.projects:hover #secTag1 {
  margin-top: 4.7rem;
  transition: all 0.3s ease;
}
.secName.projects:hover #grad {
  top: -3rem;
  opacity: 1;
  transition: all 0.3s ease;
}
@media(max-width: 1120px) {
  #sec, #navBar {
    opacity: 0;
    pointer-events: none;
  }
}

/* Mobile Nav Styling _________________________________________________ */
#mNav {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: auto;
  margin-right: 50px;
  right: -50px;
  z-index: 90;
  width: 100%;
  height: 100%;
  pointer-events: none !important;
  overflow: hidden;
}
#mNav.proj {
  right: 0 !important;
  margin-right: 0;
}
#mNav.home {
  top: calc(100% - 100px);
  bottom: 0;
}
#mBkg {
  pointer-events: none !important;
  position: absolute;
  top: -2rem;
  right: -780px;
  width: 810px;
  height: 8rem;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  filter: blur(20px);
  transition: all 0.5s ease;
  opacity: 0;
}
#mBkg.home {
  top: 0;
}
#mBkg.active {
  opacity: 1;
  right: -40px;
  pointer-events: all;
}
#hamburger {
  position: absolute;
  right: 0;
  padding: 2rem;
  text-align: right;
  pointer-events: all !important;
}
#mNav.proj #hamburger {
  margin-right: calc(7.5vw - 2rem);
}
.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 7px 0 0 auto;
  transition: all 0.5s ease;
  background-color: rgb(255, 255, 255);
}
#menu {
  position: absolute;
  pointer-events: none;
  right: 0;
  padding-left: 5rem;
  margin-right: min(9vw, 180px);
  display: flex;
  width: 520px;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.3s ease;
}
#menu.proj {
  padding: 0;
}
#menu.active {
  opacity: 1;
  pointer-events: all;
  transition: all 1s ease 0.2s;
}#menu.proj.active {
  padding-right: min(8vw, 50px);
}
#hm2, #ab2, #pj2, #ct2 {
  color: white;
  cursor: pointer;
  opacity: 1;
}
#hamburger.active .bar:nth-child(2) {
  transform: translateX(-650px);
}
#hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
#hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
@media(max-width: 1120px) {
  #mNav {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s ease;
  }
}
@media(max-width: 780px) {
  #hamburger.active .bar:nth-child(2) {
    transform: translateX(-6rem) translateY(175px) scaleX(4);
  }
  #hamburger.active .bar:nth-child(1) {
    transform: translateX(-6rem) translateY(87px) scaleX(4);
  }
  #hamburger.active .bar:nth-child(3) {
    transform: translateX(-6rem) translateY(265px) scaleX(4);
  }
  #menu {
    pointer-events: none;
    right: 0;
    padding-left: 5rem;
    margin: 2rem 2rem 0 0;
    flex-direction: column;
    width: 150px;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s ease;
  }
  #mBkg {
    pointer-events: none;
    padding-top: 100px;
    right: -50px;
    width: 352px;
    height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.5));
    filter: blur(0px);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
    opacity: 0;
  }
  #mBkg.active {
    pointer-events: all;
    opacity: 1;
  }
  #mNav.home {
    top: 0%;
  }
}

/* About Section Styling _______________________________________________ */
#about-section {
  position: relative;
  overflow: hidden;
}
#aboutMain {
  margin-left: 15rem;
}
#name {
  display: flex;
  padding-top: 7rem;
  height: 200px;
  z-index: 10;
  transition: all 0.5s ease;
}
#name h1 {
  margin: 2rem 4rem 0;
}
#name p {
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
}
#nameTXT {
  opacity: 0;
  background: white;
  border-radius: 100px;
  color: black !important;
  margin: auto 0;
  height: 200px;
  transition: all 0.5s ease;
}
#tochi {
  opacity: 0;
  object-fit: cover;
  width: 150px;
  border-radius: 75px;
  margin-right: 2rem;
  transition: all 0.5s ease;
}
#aContent {
  opacity: 0;
  margin: 2rem 3rem 0 0;
  width: calc(150px + 719.41px + 2rem);
  height: 400px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100px;
  border: 2px solid white;
  z-index: 2;
  transition: all 0.5s ease;
  backdrop-filter: blur(15px);
}
#aContent p {
  margin: 4.5rem 4rem 0;
  color: white;
}
#sSkills {
  opacity: 0;
  position: absolute;
  right: 12.5vw;
  top: -2%;
  width: 250px;
  height: 770px;
  border: 2px solid white;
  border-radius: 0 0 100px 100px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  transition: all 0.5s ease;
  backdrop-filter: blur(15px);
}
#sSkills img {
  object-fit: cover;
  width: 100px;
}
#sSkills h3 {
  color: white;
  margin: 0.5rem auto 0 auto;
  width: 100px;
}
#sSkills div {
  height: fit-content;
}
#tochi.active {
  opacity: 1;
  transition: all 1s ease 0.5;
}
#nameTXT.active {
  opacity: 1;
  transition: all 1s ease 0.7s;
}
#aContent.active {
  opacity: 1;
  transition: all 2s ease 1s;
}
#sSkills.active {
  opacity: 1;
  transition: all 2s ease 1.5s;
}
#tochi.norm, #nameTXT.norm, #aContent.norm, #sSkills.norm {
  opacity: 1;
  transition: all 0.5s ease;
}

@media(max-width: 1850px) {
  #nameTXT h1 {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  #aContent {
    width: 675px;
    border-radius: 75px;
  }
  #aContent p {
    margin: 2.5rem 3.5rem 0;
  }
}
@media(max-width: 1590px) {
  #name h1 {
    margin: 3rem 9.6rem 0;
    text-align: center;
  }
  #name {
    padding-top: 3rem;
  }
  #aContent {
    position: relative;
    width: 850px;
    height: 500px;
    border-radius: 75px;
  }
  #sSkills {
    border: none;
    flex-direction: row;
    width: 750px;
    top: 64%;
    right: auto;
    left: 490px;
    backdrop-filter: blur(0);
    height: fit-content;
  }
  #sSkills h3 {
    font-size: 1.5rem;
    width: 190px;
  }
  #nameTXT h1 {
    margin: 3rem auto 0;
  }
  #nameTXT {
    width: 100%;
  }
  #name {
    padding-top: 3rem;
    width: 55vw;
  }
  #aContent {
    width: 55vw;
  }
  #aContent p {
    margin: 2rem 3rem 0;
  }
  #sSkills {
    width: 55vw;
    top: auto;
    bottom: 10%;
    left: auto;
    margin: auto;
  }
  #sSkills h3 {
    font-size: 1rem;
    width: 150px;
  }
  #sSkills img {
    width: 5vw;
  }
}
@media(max-width: 1350px) {
  #sSkills {
    bottom: 5%;
  }
}
@media(max-width: 1120px) {
  #aboutMain {
    margin: 0;
  }
  #name {
    width: 100%;
    padding-top: 6rem;
  }
  #aContent {
    position: relative;
    width: 100%;
    height: 450px;
  }
  #sSkills {
    width: 100%;
    top: 72%;
  }
  #sSkills img {
    width: 7vw;
  }
}
@media(max-width: 1003px) {
  #sSkills.norm, #sSkills.acitive, #sSkills {
    visibility: hidden;
    opacity: 0;
  }
}
@media(max-height: 800px) and (max-width: 1590px) {
  #sSkills {
    opacity: 0;
    visibility: hidden;
  }
  #aContent {
    padding-bottom: 3rem;
    height: fit-content;
  }
}
@media(max-height: 700px) and (max-width: 1590px) {
  #nameTXT, #tochi, #name {
    height: 120px;
  }
  #nameTXT {
    margin: 0;
  }
  #nameTXT h1 {
    margin: 10px;
  }
  #aContent {
    padding-bottom: 3rem;
    height: fit-content;
  }
}
@media(max-height: 700px) and (max-width: 1590px) {
  #name {
    padding-top: 5rem;
  }
  #nameTXT, #tochi, #name {
    height: 100px;
  }
  #tochi {
    width: 100px;
  }
  #nameTXT h1 {
    margin: 0;
  }
  #aContent {
    margin: 1rem 0;
  }
}
@media(max-width: 1030px) and (max-height: 600px) {
  #aContent p {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 1rem;
  }
  #aContent {
    border-radius: 30px;
    height: fit-content;
  }
}
@media(max-width: 820px) {
  #aboutMain {
    margin: 0;
  }
  #name img {
    visibility: hidden;
    width: 0;
    margin: 0;
  }
  #aContent {
    position: relative;
    width: 100%;
  }
  #sSkills img {
    width: 7vw;
  }
}
@media(max-width: 692px) {
  #aContent p {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 1rem;
  }
  #aContent {
    border-radius: 30px;
    height: fit-content;
  }
}
@media(max-width: 540px) {
  #nameTXT {
    height: 80px;
  }
  #nameTXT h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  #name {
    padding-top: 6rem;
    height: 110%;
  }
  #nameTXT p {
    visibility: hidden;
  }
}
@media(max-width: 400px) {
  #aContent p {
    font-size: 1rem;
  }
}

/* Skills Section Styling ______________________________________________ */
#skills-section {
  text-align: center;
  position: relative;
  overflow: hidden;
}
#skTitle {
  color: white;
  opacity: 0;
  transition: all 0.5s ease;
}
#skTitle.intro {
  opacity: 1;
  transition: all 2s ease;
}
#tSkills {
  position: absolute;
  text-align: center;
  width: 650px;
  height: 0;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 100px;
  top: 20%;
  left: 25%;
  z-index: 10;
  transition: all 0.5s ease;
}
#tSkills h2 {
  opacity: 0;
}
#tSkills.intro {
  height: 410px;
  transition: all 1s ease 0.5s;
}
#tSkills.intro h2 {
  opacity: 1;
  transition: all 1s ease 1s;
}
#oSkills {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 0;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 100px;
  top: 55%;
  right: 7.5vw;
  z-index: 10;
  transition: all 0.5s ease;
}
#oSkills h2 {
  opacity: 0;
}
#oSkills.intro {
  height: 320px;
  transition: all 1s ease 1s;
}
#oSkills.intro h2 {
  opacity: 1;
  transition: all 1s ease 1.5s;
}
#techName {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  height: 20vh;
  max-height: 200px;
  width: 100vw;
  border: 2px solid white;
  border-radius: 100px;
  left: calc(100% + 2rem);
  top: 0;
  text-align: left;
  transition: all 0.5s ease;
}
#techName.intro {
  opacity: 1;
  transition: all 2s ease 1.5s;
}
#tName {
  position: absolute;
  left: 85px;
  top: calc(50% - 1rem);
  color: white;
  opacity: 0;
  margin: 0;
  transition: all 0.3s ease;
}
#tName.active {
  opacity: 1;
}
#otherName {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  height: 20vh;
  max-height: 200px;
  width: 100vw;
  border: 2px solid white;
  right: calc(100% + 2rem);
  bottom: 0;
  border-radius: 100px;
  text-align: right;
  transition: all 0.5s ease;
}
#otherName.intro {
  opacity: 1;
  transition: all 2s ease 2s;
}
#oName {
  position: absolute;
  right: 85px;
  top: calc(50% - 1rem);
  color: white;
  opacity: 0;
  margin: 0;
  transition: all 0.3s ease;
}
#oName.active {
  opacity: 1;
}
#techLogos {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 400px;
  margin: auto;
  transition: all 0.5s ease;
}
#techLogos.intro {
  opacity: 1;
  transition: all 1s ease 1.5s;
}
#otherLogos {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 200px;
  margin: auto;
  transition: all 0.5s ease;
}
#otherLogos.intro {
  opacity: 1;
  transition: all 1s ease 2s;
}
#techLogos img, #otherLogos img {
  filter: invert(1);
  opacity: 1;
  object-fit: cover;
  height: 60px;
  width: 60px;
  padding: 1rem 0.5rem;
  transition: all 0.3s ease !important;
}
#techLogos.active img, #otherLogos.active img {
  opacity: 0.5;
}
#techLogos img:hover, #otherLogos img:hover {
  opacity: 1;
  transition: all 0.3s ease !important;
}
#tSkills.norm, #oSkills.norm, #otherLogos.norm,
#techLogos.norm, #techName.norm, #otherName.norm,
#skTitle.norm {
  opacity: 1;
  transition: all 0.5s ease !important;
}
@media(max-width: 1535px) {
  #skills-section > *, #tSkills > *, #oSkills > *{
    transition-delay: 0s !important;
  }
  #skTitle {
    margin-top: 1rem;
  }
  #tSkills.intro, #tSkills {
    left: 35%;
    top: 17%;
    width: auto;
  }
  #techLogos {
    margin: auto 1.5rem;
  }
  #oSkills.info, #oSkills {
    width: auto;
  }
  #otherLogos {
    margin: auto 2.5rem;
  }
}
@media(max-width: 1250px) {
  #skTitle {
    margin-top: 2rem;
    position: absolute;
    left: calc(60% - 69.93px);
    font-size: 2rem;
    width: fit-content;
  }
  #tSkills.intro, #tSkills, #tSkills.norm {
    left: calc(60% - 224px);
    top: 13%;
    height: 325px;
  }
  #tSkills {height: 0;}
  #tSkills.intro h2, #oSkills.intro h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  #techLogos.intro, #otherLogos.intro {
    margin: auto 1.5rem 1rem;
  }
  #techLogos img, #otherLogos img {
    height: 50px;
    width: 50px;
  }
  #oSkills.intro, #tSkills {
    top: 63%;
    right: auto;
    left: calc((60% - 224px));
    width: 448px;
    height: 170px;
  }
  #Skills {
    top: 63%;
    left: calc((60% - 224px));
    width: 448px;
    height: 0;
  }
  #otherLogos {
    max-width: 448px;
    margin: auto 2.5rem;
  }
  #techName.intro, #techName {
    height: 70px;
    width: 350px;
    border: 2px solid white;
    border-radius: 40px;
    left: calc(50% - 175px);
    top: 105%;
  }
  #otherName.intro, #otherName {
    height: 70px;
    width: 350px;
    border: 2px solid white;
    border-radius: 40px;
    left: calc(50% - 175px);
    top: 110%;
  }
  #tName, #oName {
    right: auto;
    left: auto;
    width: 100%;
    text-align: center;
  }
}
@media(max-height: 800px) and (min-width: 1250px) {
  #skills-section > *, #tSkills > *, #oSkills > *{
    transition-delay: 0s !important;
  }
  #skTitle {
    font-size: 2.5rem;
  }
  #techLogos img, #otherLogos img {
    height: 40px;
    width: 40px;
  }
  #tSkills, #tSkills.intro, #tSkills.norm, #oSkills, #oSkills.intro, #oSkills.norm {
    height: fit-content;
  }
}
@media(max-height: 1000px) and (max-width: 1250px) {
  #techLogos img, #otherLogos img {
    height: 40px;
    width: 40px;
  }
  #tSkills, #tSkills.intro, #tSkills.norm, #oSkills, #oSkills.intro, #oSkills.norm {
    height: fit-content;
    border-radius: 50px;
  }
  #tSkills, #tSkills.intro, #tSkils.norm {
    top: auto;
    bottom: 35%;
  }
  #oSkills #oSkills.intro #oSkills.norm {
    top: auto;
    bottom: 5%;
  }
  #techName.intro.norm, #otherName.intro.norm {
    border-radius: 50px;
  }
  #tSkills.intro.norm h2, #oSkills.intro.norm h2 {
    margin: 12px 0 5px;
  }
}
@media(max-height: 1000px) and (max-width: 1250px) and (min-width: 1120px) {
  #skTitle {
    left: calc(50% - 69.93px);
  }
  #tSkills, #tSkills.intro, #tSkills.norm {
    width: 300px;
    left: 400px;
    top: 25vh;
  }
  #oSkills, #oSkills.intro, #oSkills.norm {
    width: 300px;
    left: 750px;
    top: 40vh;
  }
  #techName, #techName.intro, #techName.norm {
    width: 300px;
    left: 0px;
  }
  #otherName, #otherName.intro, #otherName.norm {
    width: 300px;
    left: 0px;
  }
}
@media(max-width: 1120px) and (min-width: 580px) and (max-height: 730px) {
  #techLogos img, #otherLogos img {
    height: 25px;
    width: 25px;
  }
  #tSkills, #tSkills.intro, #tSkills.norm {
    width: 60vw;
    left: calc(50% - 30vw) !important;
    top: 125px !important;
  }
  #techLogos, #techLogos.intro, #techLogos.norm,
  #otherLogos, #otherLogos.intro, #otherLogos.norm {
    max-width: 55vw;
  }
  #oSkills, #oSkills.intro, #oSkills.norm {
    top: 375px !important;
    width: 60vw;
    left: calc(50% - 30vw) !important;
  }
}
/* @media(max-width: 1120px) and (min-width: 580px) and (max-height: 630px) {
  #tSkills, #tSkills.intro, #tSkills.norm {
    width: 70vw;
    left: calc(50% - 35vw) !important;
    top: 21% !important;
  }
  #techLogos, #techLogos.intro, #techLogos.norm {
    max-width: 65vw;
  }
  #techName, #techName.intro, #techName.norm {
    top: 110%;
  }
  #techLogos img, #techLogos.intro img, #techLogos.norm img,
  #otherLogos img, #otherLogos.intro img, #otherLogos.norm img {
    width: 30px;
    height: 30px;
  }
  #oSkills, #oSkills.intro, #oSkills.norm {
    top: 58% !important;
  }
} */
@media(max-width: 1120px) {
  #skTitle {
    margin-top: 4rem;
  }
  #tSkills.intro, #tSkills {
    left: calc((50% - 224px));
    top: 18%;
  }
  #oSkills.intro, #oSkills {
    left: calc((50% - 224px));
    top: 68%;
  }
  #skTitle {
    left: calc(50% - 69.93px);
  }
  #techName.intro, #otherName.intro {
    height: 50px;
  }
}
@media(max-width: 580px) {
  #tSkills, #oSkills, #techName, #otherName, #techLogos, #otherLogos {
    transition: all 1s ease 0.5s !important;
  }
  #tSkills.intro, #tSkills, #tSkills.norm {
    right: auto;
    left: calc((50% - 40vw));
    width: 80vw;
    border-radius: 75px;
    padding-bottom: 1rem;
    height: fit-content;
    opacity: 1;
  }
  #oSkills.intro, #oSkills, #oSkills.norm {
    top: 65%;
    right: auto;
    left: calc((50% - 40vw));
    width: 80vw;
    border-radius: 75px;
    height: fit-content;
    opacity: 1;
  }
  #tSkills, #oSkills {opacity: 0;}
  #techLogos img, #otherLogos img {
    height: 35px;
    width: 35px;
  }
  #tSkills.intro h2, #oSkills.intro h2 {
    transition: all 0.3s ease !important;
    margin-bottom: 5px;
  }
}
@media(max-width: 400px) {
  #skTitle {
    margin-top: 4rem;
  }
  #tSkills.intro h2, #oSkills.intro h2 {
    margin: 0.3rem 0;
    font-size: 1.2rem;
  }
  #techLogos.intro, #otherLogos.intro {
    margin: auto 1.5rem 0.3rem;
  }
  #techName.intro, #otherName.intro {
    height: 40px;
    width: 300px;
    left: calc(50% - 150px);
  }
  #oSkills.intro {
    top: 70%;
  }
  #tName, #oName {
    margin: 0 auto;
  }
  #techLogos img, #otherLogos img {
    height: 30px;
    width: 30px;
  }
}

/* Project Section Styling _____________________________________________ */
#projects-section {
  position: relative;
  overflow: hidden;
  padding: 0;
}
#pContent {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  width: 85vw;
  height: 100px;
  left: 7.5vw;
  text-align: center;
  color: #ffffff;
  z-index: 10;
  transition: all 0.5s ease;
}
#pContentBackdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -33%;
  right: 0;
  left: -25%;
  width: 150%;
  height: 190px;
  backdrop-filter: blur(4px);
}
#pContent.active {
  opacity: 1;
  transition: all 1s ease 1s;
}
.titleContainer, .titleContainer2 {
  display: inline-block;
  position: absolute;
  width: 500px;
  top: -60%;
  height: 180px;
  left: 0;
  overflow: hidden;
}
.titleContainer2 {
  top: -15%;
}
#projName {
  position: absolute;
  width: 450px;
  left: 0;
  transition: all 0.5s ease;
  text-align: right;
  z-index: 2;
}
#projName h1 {
  margin-top: 0;
}
#projName.active {
  left: 130%;
}
#UL {
  position: absolute;
  height: 160px;
  top: -45%;
  left: 500px;
  border-right: 2px solid white;
  background: #ffffff;
  z-index: 100;
}
.descContainer {
  position: absolute;
  top: -45%;
  left: 500px;
  width: 1000px;
  height: 180px;
  overflow: hidden;
}
#pDesc {
  text-align: left;
  position: absolute;
  width: 700px;
  top: 0%;
  left: 50px;
  font-weight: 500;
  z-index: 6;
  transition: all 0.5s ease;
}
#pDesc.active {
  left: -80%;
}
#track {
  visibility: visible;
  margin-top: 275px;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s ease;
}
#track.active {
  opacity: 1;
  transform: scale(1);
  transition: all 2s ease 0.5s;
}
#GS, #LL, #PR {
  position: absolute;
  top: -320px;
  display: flex;
  gap: 25px;
  will-change: right;
  z-index: 5;
}
#PR, #PR2 {
  right: 25%;
}
#LL, #LL2 {
  right: -45%;
}
#GS, #GS2 {
  right: 95%;
}
.pCont {
  position: relative;
}
.projImg {
  width: 300px;
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 100px;
  opacity: 0;
  border: 2px solid rgba(255, 255, 255, 1);
  transition: all 1s ease;
}
.projImg.active {
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 1s ease;
}
.brdr {
  opacity: 1;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 1);
  top: 0%;
  left: 0%;
  width: 300px;
  height: 450px;
  border-radius: 100px;
  transition: all 1s ease;
}
.brdr.active {
  opacity: 0;
  transition: all 1s ease;
}
.stag {
  animation: stagger1 10s ease-in-out infinite ;
}
.unStag {
  animation: stagger2 10s ease-in-out infinite;
}
@keyframes stagger1 {
  0% {margin-top: 6rem;}
  50% {margin-top: 0rem;}
  100% {margin-top: 6rem;}
}
@keyframes stagger2 {
  0% {margin-top: 0rem;}
  50% {margin-top: 6rem;}
  100% {margin-top: 0rem;}
}
.button {
  opacity: 0;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  border: 2px solid white;
  background: none;
  color: white;
  transition: all 0.3s ease;
  z-index: 10;
}
.VP {
  bottom: 5%;
  right: 7.5vw;
  width: 250px;
  height: 110px;
  border-radius: 40px;
  padding-left: 2.3rem;
  z-index: 30;
}
.button span {
  display: flex;
}
.button:hover {
  transition: all 0.3s ease;
}
.VP.toggle {
  bottom: -20%;
}
.button.active {
  opacity: 1;
  transition: all 1s ease 1.5s;
}
.button.norm {
  opacity: 1;
  transition: all 0.3s ease;
}
#rArrow {
  opacity: 0;
  margin: 2rem 0 0 2rem;
  width: 0;
  transition: all 0.3s ease;
}
.VP:hover {
  width: 300px;
}
.VP:hover #rArrow {
  opacity: 1;
  width: 2rem;
  transition: all 0.3s ease;
}
.aProj {
  overflow: hidden;
  top: 4%;
  left: 7.5vw;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  z-index: 888;
}
.aProj:hover {
  width: 275px;
}
.aProj h4 {
  width: 200px;
  margin: 7px 0 0 1rem;
  transition: all 0.3s ease;
}
.aProj:hover h4 {
  margin: 7px 0 0 2rem;
  transition: all 0.3s ease;
}
#dChev {
  opacity: 0;
  width: 0;
  margin: 7px;
  transition: all 0.3s ease;
}
.aProj:hover #dChev {
  opacity: 1;
  width: 2rem;
  margin: 7px 2rem;
  transition: all 0.3s ease;
}
#APB {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  z-index: 777;
  transition: all 1s ease 0.5s;
}
#APB.active {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  transition: all 1s ease;
}
#allProj {
  opacity: 0;
  position: absolute;
  top: 100px;
  width: 100vw;
  height: 90vh;
  transition: all 1s ease;
  pointer-events: all;
  z-index: 888;
}
#allProj.active {
  opacity: 1;
  transition: all 1s ease 0.5s;
}
#allproj.norm {
  opacity: 1;
  top: 0%;
  transition: all 0.3s ease !important;
}
#allProj h1 {
  text-align: center;
  /* margin-top: 100px; */
  color: white;
}
#projs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.projCard {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24vw;
  height: 30vh;
  overflow: hidden;
  border: 4px solid white;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.5s ease;
}
.projCard img {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0;
  object-fit: cover;
  width: 24vw;
  height: 300px;
  transition: all 0.5s ease;
}
.projCard:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: all 0.5s ease;
}
.projCard:hover img {
  opacity: 1;
  transition: all 0.5s ease;
}
.projCard:hover h2 {
  opacity: 0;
  transition: all 0.5s ease;
}
.projCard h2 {
  text-align: center;
  color: white;
  transition: all 0.5s ease;
}
/* #pTop {
  margin-top: 2rem;
} */
#apDesc {
  text-align: center;
  margin: 100px auto 0;
  width: 900px;
  color: white;
}
#pSecTitle {
  color: white;
  visibility: hidden;
}
#port {
  position: absolute;
  bottom: max(10%, 4vw);
  right: -2%;
  display: flex;
  font-size: 1.2rem;
  opacity: 0;
  font-weight: 450;
  z-index: 1000;
  transform: rotate(90deg);
  transition: all 0.5s ease;
}
#port.active {
  opacity: 0.5;
}
#port:hover {
  opacity: 1;
  transition: all 0.5s ease;
}
#port img {
  transform: rotate(-90deg);
  object-fit: cover;
  width: 25px;
}
#port p {
  margin: 0 1rem;
}
@media(max-height: 850px) {
  .projImg, .brdr {
    height: 22vw;
    width: 14vw;
    border-radius: 70px;
  }
  .projCard {
    height: 20vh !important;
  }
}
@media(max-width: 1750px) {
  #projName {
    left: -10%;
  }
  #projName h1 {
    font-size: 3rem;
  }
  .titleContainer, .titleContainer2 {
    width: 430px;
  }
  #UL {
    left: 430px;
  }
  .titleContainer {
    top: -35%;
  }
  .titleContainer2 {
    top: -5%;
  }
  .descContainer {
    left: 430px;
  }
  #pDesc {
    top: 9%;
    width: 580px;
    left: 20px;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .VP {
    padding-left: 40px;
    width: 180px;
  }
  .VP h3 {
    font-size: 1.5rem;
  }
  .VP:hover {
    width: 225px;
  }
  #rArrow {
    margin: 2.6rem 20px 0 1.8rem;
  }
}
@media(max-width: 1500px) {
  #track.active {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  #allProj h1, #allProj #hovT {
    position: absolute;
    top: calc(50% - 300px + 4rem);
    width: 50vw;
    right: 12.5vw;
  }
  #allProj h1 {
    top: -5%
  }
  #hovT h2 {
    width: 350px;
    color: white;
    text-align: center;
    margin: 13rem auto 0;
  }
  #allProj {
    height: 70%;
  }
  #allProj.active.norm {
    transition: all 0.3 ease 0s !important;
  }
  #projs {
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
    left: 12.5vw;
    justify-content: space-between;
  }
  .projCard {
    height: 175px;
    width: 300px;
    border-radius: 60px;
  }
  .projCard h2 {
    width: 300px;
    height: 175px;
    left: calc(50% - 150px);
    /* margin: 2.5rem auto 0; */
    padding: 0;
  }
  /* #pTop {
    margin-top: 8px;
  } */
  #pContent.active, .VP.norm, .VP.active, .aProj.norm, .aProj.active {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  #apDesc {
    position: absolute;
    height: 100%;
    margin: 0;
    right: 12.5vw;
    max-width: 50vw;
    border: 2px solid white;
    border-radius: 100px;
  }
  #apDesc h4 {
    margin: max(17vw, 180px) 2rem 0;
  }
}
@media(max-width: 1300px) {
  #allProj h1, #allProj #hovT {
    width: 45vw;
  }
  #apDesc {
    max-width: 45vw;
  }
}
@media(max-width: 1120px) {
  #pSecTitle {
    visibility: visible;
    margin-top: 4rem;
    font-size: 3rem;
    text-align: center;
  }
  #apDesc, #allProj h1, #allProj #hovT, #port {
    visibility: hidden;
  }
  #projs {
    width: 40vw;
    left: calc(50% - max(20vw, 150px));
    margin-top: 2rem;
  }
  .projCard, .projCard img {
    height: 175px;
    width: max(40vw, 300px);
  }
  .projCard h2 {
    width: max(30vw, 250px);
    left: calc(50% - calc(max(30vw, 250px)/2));
  }
  .projCard:nth-child(2) h2 {
    width: max(35vw, 270px);
    margin-left: max(2.5vw, 15px);
  }
}
@media(max-width: 400px) {
  #projs {
    top: auto;
    bottom: 5%;
    height: 450px;
  }
  .projCard {
    height: 115px;
  }
  .projCard h2 {
    height: 115px;
  }
}


/* Contact Section Styling _____________________________________________ */
#contact-section {
  margin-left: 5vw;
  position: relative;
  overflow: hidden;
}
/* .cBkg {
  position: absolute;
  width: 112.5vw;
  height: 100vh;
  left: -12.5vw;
  top: 0;
  z-index: -1;
  background-image: url("./assets/Contact\ bkg.png");
  background-size: cover;
} */
#cTitle {
  opacity: 0;
  margin-top: 8rem;
  color: white;
  transition: all 0.3s ease;
}
#cTitle.active {
  opacity: 1;
  transition: all 2s ease 1s;
}
.input {
  font-size: medium;
  margin-bottom: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 1px solid gray;
}
#names {
  display: flex;
}
#firstName, #lastName {
  padding: 8px;
  width: 250px;
}
#firstName {
  margin-right: 1rem;
}
#email {
  width: calc(500px + 16px + 1rem);
  padding: 8px;
  margin-bottom: 5px;
}
#topic {
  width: calc(500px + 32px + 1rem);
  padding: 8px 11px 8px 3px;
  margin-bottom: 5px;
}
#message {
  resize: vertical;
  width: calc(500px + 16px + 1rem);
  height: 150px;
  padding: 8px;
}
#inUnder {
  margin-bottom: calc(1rem - 5px);
}
#contactForm {
  display: flex;
}
#socials {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin: 0 200px;
  width: 100px;
  padding-left: 50px;
  background: white;
  border-radius: 50px;
  justify-content: space-around;
  transition: all 0.3s ease;
}
#socials.active {
  opacity: 1;
  margin: 0 50px;
  transition: all 1s ease 0.5s;
}
#socials.norm {
  opacity: 1;
  margin: 0 50px;
  transition: all 0.3s ease;
}
#emL, #ghL, #liL {
  padding: 2.55rem 0;
  opacity: 0.5;
  color: black;
  transition: all 0.3s ease;
}
#emL + h2, #ghL + h2, #liL + h2 {
  opacity: 0;
  transition: all 0.3s ease;
}
#socials a:hover span {
  opacity: 1;
  transition: all 0.3s ease;
}
#socials:hover {
  width: 240px;
  transition: all 0.3s ease;
}
#socials a {
  display: flex;
}
#socials a h2 {
  color: black;
  margin: auto 0 auto;
  padding-left: 2rem;
  width: 0px;
  overflow: hidden;
}
#EMl:hover h2, #GHl:hover h2, #LIl:hover h2 {
  opacity: 1;
  width: 130px;
  transition: all 0.5s ease;
}
#fields {
  opacity: 0;
  transition: all 0.3s ease;
}
#fields.active {
  opacity: 1;
  transition: all 1s ease;
}
#text {
  pointer-events: none;
  position: absolute;
  top: 0%;
  left: 30%;
  width: 1000px;
  height: 1000px;
}
#FN {
  color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0;
  transition: all 0.3s ease;
}
#FN.active1 {
  opacity: 0.3;
  transition: all 0.5s ease;
}
#FN.active2 {
  top: -20%;
  left: 40%;
  opacity: 0;
  transform: scale(0.7);
  transition: all 6s ease-in;
}
#LN {
  color: white;
  position: absolute;
  top: 25%;
  left: 21%;
  opacity: 0;
  transition: all 0.3s ease;
}
#LN.active1 {
  opacity: 0.3;
  transition: all 0.5s ease;
}
#LN.active2 {
  top: -20%;
  left: 70%;
  opacity: 0;
  transform: scale(0.7);
  transition: all 6s ease-in;
}
#EM {
  color: white;
  position: absolute;
  top: 33%;
  left: 18%;
  opacity: 0;
  transition: all 0.3s ease;
}
#EM.active1 {
  opacity: 0.3;
  transition: all 0.5s ease;
}
#EM.active2 {
  top: -10%;
  left: 80%;
  opacity: 0;
  transform: scale(0.7);
  transition: all 6s ease-in;
}
#MSG {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 45%;
  left: 45%;
  opacity: 0;
  transition: all 0.3s ease;
  width: 500px;
  z-index: 1;
}
#MSG.active1 {
  opacity: 0.3;
  transition: all 0.5s ease;
}
#MSG.active2 {
  top: 75%;
  left: 95%;
  opacity: 0;
  transform: scale(0.7);
  transition: all 30s linear;
}
.button2 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid gray;
  background: none;
  backdrop-filter: blur(10px);
  color: gray;
  width: calc(500px + 16px + 2rem);
  padding: 8px;
  height: 50px;
  border-radius: 15px;
  transition: all 0.2s ease;
}
.button2.enabled {
  color: white;
  border-color: white;
  cursor: pointer;
}
.button2.enabled:hover {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease;
}
#nvLine {
  opacity: 0;
  position: absolute;
  top: 39.3%;
  right: -50%;
  width: 800px;
  height: 200px;
  border: 2px solid white;
  border-radius: 75px;
  transition: all 0.3s ease;
}
#nvLine.active {
  opacity: 1;
  right: -10%;
  transition: all 1.5s ease;
}
#nvLine.norm {
  opacity: 1;
  right: -10% !important;
  transition: all 0.3s ease;
}
#nvLine.expand {
  top: 30%;
  height: 365px;
  transition: all 0.3s ease
}
#notif {
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: -12%;
  left: calc(50% - 2px);
  border: 2px solid;
  overflow: hidden;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 1s cubic-bezier(0, 0.5, 0.1, 1);
  color: rgba(255, 255, 255, 0);
  text-align: center;
}
#notif.active {
  bottom: 10%;
}
#notif.open {
  color: rgba(255, 255, 255, 1);
  width: 650px;
  height: 100px;
  border-radius: 45px;
  left: calc(50% - 325px);
}
#notif.out {
  transition: all 0.5s ease-in;
}
#notif p {
  transition: all 0.5s ease;
  margin-top: 2rem;
}

@media(max-width: 1800px) {
  #nvLine {
    visibility: hidden;
  }
}
@media(max-width: 1570px) {
  #cTitle {
    margin-top: 3rem;
    width: calc(500px + 16px + 2rem);
    text-align: center;
    transition: all 0.3s ease !important;
  }
  #form, .button2 {
    transition: all 0.3s ease;
  }
  #socials.norm, #socials, #socials.active {
    position: absolute;
    flex-direction: row;
    height: auto;
    width: calc(500px + 16px + 2rem);
    margin: 0;
    left: 12.5vw;
    bottom: 10%;
    padding: 0;
    transition: all 0.3s ease;
  }
}
@media(max-width: 1250px) {
  #cTitle {
    width: calc(400px + 16px + 2rem);
  }
  #firstName, #lastName {
    width: 200px;
  }
  #email, #message {
    width: calc(400px + 16px + 1rem);
  }
  #topic {
    width: calc(400px + 32px + 1rem);
  }
  #socials.norm, #socials, #socials.active {
    width: calc(400px + 16px + 2rem);
  }
  #emL {
    margin-left: 2rem;
  }
  #socials.norm h2 {
    padding: 1rem 0 1rem 2rem;
    font-size: 1.5rem;
  }
  .button2 {
    width: calc(400px + 16px + 2rem);
  }
}
@media(max-height: 810px) {
  #socials, #socials.norm {
    border-radius: 20px;
  }
  #emL, #ghL, #liL {
    padding: 1rem 0;
  }
}
@media(max-height: 760px) {
  #message {
    height: 100px;
  }
}
@media(max-height: 690px) and (min-width: 1120px) {
  #emTop {
    display: flex;
  }
  #email {
    margin-right: 1rem;
  }
  #email, #topic {
    padding: 8px;
    width: 200px;
  }
  #topic {
    width: 217px;
  }
  #message {
    height: 80px;
  }
  #cTitle.active {
    margin-top: 3rem;
  }
}
@media(max-height: 690px) and (max-width: 1120px) {
  #emTop {
    display: flex;
  }
  #email {
    margin-right: 1rem;
  }
  #email, #topic {
    padding: 8px;
    width: 200px;
  }
  #topic {
    width: 217px;
  }
  #message {
    height: 80px;
  }
  #cTitle.active {
    margin-top: 3rem;
  }
  #fields {
    margin-top: 9rem !important;
  }
}
@media(max-width: 1120px)  {
  #contact-section {
    margin: 0;
  }
  #socials.norm, #socials, #socials.active {
    left: calc(50% - calc(400px + 16px + 2rem)/2);
  }
  #cTitle {
    margin-top: 5rem;
    position: absolute;
    left: calc(50% - calc(400px + 16px + 2rem)/2);
  }
  #fields {
    position: absolute;
    left: calc(50% - calc(400px + 16px + 2rem)/2);
    margin-top: 11rem;
  }
  .button2 {
    width: calc(400px + 16px + 2rem);
  }
}
@media(max-width: 550px) {
  #cTitle {
    width: calc(300px + 16px + 2rem);
    font-size: 2.5rem;
    left: calc(50% - calc(300px + 16px + 2rem)/2);
  }
  #firstName, #lastName {
    width: 150px;
  }
  #email, #message {
    width: calc(300px + 16px + 1rem);
  }
  #topic {
    width: calc(300px + 32px + 1rem);
  }
  #socials.norm, #socials, #socials.active {
    width: calc(300px + 16px + 1rem);
    padding-left: 1rem;
    left: calc(50% - calc(300px + 16px + 2rem)/2);
    bottom: 3%;
  }
  #socials.norm h2 {
    font-size: 1.5rem;
  }
  .button2 {
    width: calc(300px + 16px + 2rem);
  }
  #fields {
    position: absolute;
    left: calc(50% - calc(300px + 16px + 2rem)/2);
    margin-top: 11rem;
  }
  #emL:hover + h2, #ghL:hover + h2, #liL:hover + h2 {
    opacity: 0;
    width: 0px;
  }
  #emL, #ghL, #liL {
    padding: 1rem 0;
  }
  #fields {
    margin-top: 9rem;
  }
}

/* Project Pages _______________________________________________ */
#sec.pj, #navBar.pj {
  width: 0;
  opacity: 0;
  pointer-events: none;
}
#mNav.pj {
  position: absolute;
  top: 0;
  right: calc(7.5vw - 2rem);
  opacity: 1;
  pointer-events: all;
}
#mBkg.pj {
  right: -900px;
  width: 930px;
}
#mBkg.pj.active {
  right: calc(-7.5vw - 40px);
}
#background2 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
article {
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
#slantContainer {
  top: 430px;
  position: absolute;
  height: 500px;
  width: 100%;
  overflow: hidden;
}
#slant {
  top: 0;
  left: -15%;
  position: absolute;
  width: 250vw;
  height: 500px;
  background-color: #111114;
  border-radius: 40%;
  z-index: 0;
  box-shadow: inset 5px 5px 15px 5px black;
  transition: all 1s ease;
}
#backBTN {
  position: absolute;
  left: calc(7.5vw - 1rem);
  top: 0%;
  margin: 30px 0 0 1rem;
  font-size: 2rem;
  z-index: 15;
  transition: all 0.3s ease;
}
#backBTN:hover {
  margin-left: 0;
  padding-right: 3rem;
  transition: all 0.3s ease;
}
#pHeading {
  margin: 0 12.5vw 50px;
  position: relative;
  display: flex;
  width: 75vw;
  z-index: 10;
}
#hLeft {
  width: 450px;
  margin: 120px 0 120px 2rem;
  text-align: center;
}
#PImgs {
  position: relative;
  margin: 130px 0 0 auto;
  width: 700px;
  height: 450px;
  border: 2px solid white;
  border-radius: 75px;
  overflow: hidden;
}
#pBG {
  position: absolute;
  top: 600px;
  width: 100%;
  height: calc(102% - 600px);
  z-index: 1;
  background-color: #111114;
  pointer-events: none;
  overflow: hidden;
}
#ppCont {
  display: flex;
  margin: 0 12.5vw;
}
#ppCont > *, #pHeading > * {
  transition: all 0.5s ease;
}
#pDetails {
  position: sticky;
  top: 10%;
  width: 370px;
  height: fit-content;
  border: 2px solid white;
  border-radius: 50px;
  padding: 2rem;
  z-index: 10;
}
#pDetails h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(219, 175, 116);
}
#dItem {
  color: rgb(90, 181, 218) !important;
  margin-left: 3rem;
}
i {
  font-style: normal;
  margin: 0 3px;
  color: white;
}
#pInfo em {
  font-style: normal;
  color: rgb(209, 112, 77);
}
#tStack {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}
#tStack p, #pHeading a {
  margin: 0.5rem;
  font-size: 1.2rem;
  padding: 0 1rem 5px;
  border: 1px solid white;
  border-radius: 20px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease;
}
#pHeading a:hover {
  color: black;
  background-color: white;
  transition: all 0.5s ease;
}
#pTech {
  margin-top: 5rem;
}
#pTech h4 {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(72, 131, 72);
}
#PImg1 {z-index: 10;}
#PImg2 {z-index: 8;}
#PImg3 {z-index: 6;}
.PImg {
  position: absolute;
  opacity: 1;
  width: 700px;
  height: 450px;
  object-fit: cover;
  transition: all 1s ease;
}
#PImg1.inactive, #PImg2.inactive, #PImg3.inactive {
  opacity: 0;
}
#deets {
  margin-left: 100px;
  position: relative;
  width: min(873px, 43vw);
  top: 48%;
  left: 0;
  z-index: 10;
}
#deets h2 {
  padding-bottom: 2rem;
  border-bottom: 1px solid #27272e;
}
#deets p {
  font-size: 2rem;
  width: fit-content;
}
.gif {
  width: 90%;
  margin: 5rem auto;
}
.gif img {
  object-fit: cover;
  width: 100%;
}
.gif p {
  color: rgb(165, 165, 165);
  font-size: 1rem !important;
  font-style: italic;
  font-weight: 200;
}
#WF {
  padding-bottom: 8rem;
}
#WF h3 {
  margin-bottom: 4rem;
}
#flowSecs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#flowSecs h3 {
  width: 220px;
  text-align: center;
}
#flow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 600px;
}
.fColumn {
  display: flex;
  flex-direction: column;
  /* margin: auto 0; */
}
.wBubble {
  padding: 10px;
  border: 2px solid white;
  border-radius: 30px;
  width: 220px;
  margin: 1rem 0;
}
.wBubble h4 {
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
  text-align: center;
}
#top {
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  bottom: -1%;
  left: calc(50% - 60px);
  height: 80px;
  width: 120px;
  background-color: #27272e;
  color: #4c4c57;
  z-index: 12;
  text-align: center;
  font-size: 2rem;
  transition: all 0.5s ease;
  padding-top: 1rem;
  border-radius: 20px 20px 0 0;
}
#top h3 {
  opacity: 0;
  position: absolute;
  top: -100px;
  left: calc(50% - 95px);
  width: 190px;
}
#top:hover {
  bottom: -0.5%;
  transition: all 0.5s ease;
}
#top:hover h3 {
  opacity: 1;
}
@media(max-width: 1600px) {
  #PImgs, .PImg {
    width: 500px;
    height: 320px;
  }
  #ppCont {
    flex-direction: column;
  }
  #pDetails {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    justify-content: space-around;
  }
  #pDetails div {
    width: 50%;
  }
  #pDetails h4, #pDetails h3:nth-child(1) {
    margin-top: 2rem;
  }
  #pInfo, #pTech {
    margin: 0 2rem;
    width: 400px !important;
  }
  #tStack {
    width: 350px !important;
  }
  #deets {
    margin: 2rem 0 0;
    width: 100%;
  }
  #slant {
    left: calc(50% - 125vw);
  }
}
@media(max-width: 1320px) {
  #PImgs, .PImg {
    width: 50vw;
    height: 32vw;
  }
  #PImgs {
    margin: auto;
  }
  #pHeading {
    flex-direction: column-reverse;
    padding-top: 150px;
  }
  #hLeft {
    margin: 0 auto 2rem;
  }
}
@media(max-width: 1160px) {
  #pDetails h3, #pDetails h4, #pDetails p {
    font-size: 1.1rem;
  }
  #pTech {
    margin: 0;
  }
  #tStack {
    width: 300px !important;
  }
}
@media(max-width: 1050px) {
  #flow {
    flex-direction: column;
  }
  #flow h3 {
    margin-bottom: 2rem;
    text-align: center;
  }
  .fColumn {
    flex-direction: row;
    margin: auto;
  }
  .wBubble {
    margin: 0 1rem;
  }
  #pBG {
    height: calc(108% - 600px);
  }
}
@media(max-width: 925px) {
  #pInfo {
    width: 0 !important;
    height: fit-content !important;
    visibility: hidden;
  }
  #pTech {
    margin: 0 auto;
    height: fit-content !important;
  }
  #pDetails {
    width: fit-content;
    height: 250px;
    padding: 0;
  }
}
@media(max-width: 750px) {
  #deets p {
    font-size: 1.3rem;
  }
  .wBubble {
    width: 85%;
    padding: 0;
    border: none;
    margin: 0 auto;
  }
  .wBubble h4 {
    text-align: left;
    font-size: 1.2rem;
    border: none;
  }
  .fColumn {
    position: relative;
    flex-direction: column;
    margin: 0;
    border: 2px solid white;
    border-radius: 30px;
  }
  #flow h3 {
    margin-bottom: 10px;
  }
  #pBG {
    height: calc(110% - 600px);
  }
}
@media(max-width: 670px) {
  #PImgs, .PImg {
    visibility: hidden;
    height: 0;
  }
  #pHeading {
    padding-top: 9rem;
    margin-bottom: 11rem;
  }
  #pDetails {
    display: inline;
    height: fit-content;
  }
  #pInfo {
    height: 0 !important;
  }
  #pTech h4 {
    margin-top: -2rem;
  }
  #pTech, #tStack {
    text-align: center;
    margin: 1rem;
    width: auto !important;
  }
  #tStack {
    justify-content: space-around;
  }
  #hLeft {
    width: 100% !important;
  }
  #hLeft h1 {
    font-size: 2rem;
  }
  #pBG {
    height: calc(119% - 600px);
  }
  #hLeft span {
    display: flex;
    justify-content: space-around;
  }
}